<div style="display:flex;place-items: center;">

    <label style="padding-right:10px;">Nombre:</label>
    <input class="form-control" @bind-value="inputValue" @oninput="OnInputValueChanged" required maxlength="80"/>
</div>
@if (showError && string.IsNullOrWhiteSpace(inputValue))
{
    <div style="color: red;">El nombre es requerido.</div>
}
@code {
    [Parameter]
    public string inputValue { get; set; }
    [Parameter]
    public bool showError { get; set; }
    [Parameter]
    public EventCallback<string> inputValueChanged { get; set; }

    private async Task OnInputValueChanged(ChangeEventArgs e)
    {
        inputValue = e.Value.ToString(); 
        await inputValueChanged.InvokeAsync(inputValue);
    }

}
